In [1]:
import os
import urllib.parse
from sqlalchemy import create_engine, text
import pymysql.cursors
import pandas as pd
import numpy as np

In [2]:
pw_raw = os.getenv('mysql_stef')

In [3]:
#salary = pd.read_csv('dataset/clean_data/salary_concat.csv', sep=',')
#salary_all = pd.read_csv('dataset/clean_data/salary_final.csv', sep=',')
#population = pd.read_csv('dataset/clean_data/population_clean.csv', sep=',')
#population_all = pd.read_csv('dataset/clean_data/population_csp_clean.csv', sep=',')
#geography = pd.read_csv('dataset/clean_data/geography_clean.csv', sep=',')
#establishment = pd.read_csv('dataset/clean_data/establishment_clean.csv', sep=',')
french_job_cat = pd.read_csv('dataset/clean_data/cat_job_webscrap.csv', sep=',')

In [23]:
geography.head()

,CODGEO,postcode,town_fullname,town_name,latitude,longitude,code_departement,departement_name,code_region,region_name
0,1001,1400,L'Abergement-Clémenciat,Abergement-Clémenciat,46.153426,4.926114,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,1640,L'Abergement-de-Varey,Abergement-de-Varey,46.009188,5.428017,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,1500,Ambérieu-en-Bugey,Ambérieu-en-Bugey,45.960848,5.372926,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,1330,Ambérieux-en-Dombes,Ambérieux-en-Dombes,45.996180,4.912273,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,1300,Ambléon,Ambléon,45.749499,5.594320,1,Ain,84.0,Auvergne-Rhône-Alpes

In [25]:
geography.shape

(36370, 10)

In [4]:
db_conn = pymysql.connect(host="localhost"
                            , user="root"
                            ,  password=pw_raw
                            , database="bechdel",
                            cursorclass=pymysql.cursors.DictCursor)

In [5]:

pw = urllib.parse.quote_plus(pw_raw)
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost:3306/)

In [6]:
# salary.to_sql('salary',engine, 'final_project', if_exists='replace', index=False)
# salary_all.to_sql('salary_all',engine, 'final_project', if_exists='replace', index=False)
# population.to_sql('population',engine, 'final_project', if_exists='replace', index=False)
# population_all.to_sql('population_all',engine, 'final_project', if_exists='replace', index=False)
#geography.to_sql('geography',engine, 'final_project', if_exists='replace', index=False)
#establishment.to_sql('establishment',engine, 'final_project', if_exists='replace', index=False)
french_job_cat.to_sql('french_job_cat',engine, 'final_project', if_exists='replace', index=False)

/var/folders/1s/nkvzrw3d6r521f8yf637c8yh0000gn/T/ipykernel_79826/3625245840.py:7: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  french_job_cat.to_sql('french_job_cat',engine, 'final_project', if_exists='replace', index=False)

42